.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#num1 {
    text-align: center;
    padding-left: 20%;
}

#num2 {
    text-align: center;
    scale: 0.8;
}

#num3 {
    text-align: center;
    padding-right: 20%;
}

p, a {
    font-family: 'ArcadeClassic';
    color:white;
    font-size: 25px;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2 #000000,
               1px 1px #000000, -1px -1 #000000, 1px -1px #000000, -1px 1 #000000;
    text-align: center;
}